# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
**pyc

# Distribution / packaging
.Python
build/
dist/
sdist/
wheels/
*.egg-info/
*.egg
wheels/
eggs/
.eggs/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.ideal/